html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #ccc;
}

.nav-link:hover {
    transition: all 0.4s;
}

.nav-link-collapse:after {
    float: right;
    content: '\f067';
}

.nav-link-show:after {
    float: right;
    content: '\f068';
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
    padding-left: 20px;
}

@media (min-width: 992px) {
    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
        background: #343a40;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }

    .content-wrapper {
        margin-left: 230px;
    }

    .footer {
        width: calc(100% - 230px);
        margin-left: 230px;
    }
}


.form-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.measure_button {
    margin-left: 5%;
    width: 180px;
    text-align: center;
}

.page-title {
    margin-bottom: 2%;
}

.block-title {
    margin-top: 16px;
}

.form-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#signal {
    display: none;
}

#fresnel {
    display: none;
}

@media (max-width:991px) {
    .page-title {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    label {
        font-size: 1.3rem;
    }
    .container{

    }
    .btn {
        font-size: 1.5rem !important;
    }
    .form-control {
        font-size: 1.4rem !important;
    }
}
