<div id="fresnel_color" class="form-horizontal rounded shadow p-3 mb-5">
    <div class="col-12">
        <div class="form-row">
            <div class="col-12" id='fresnel_loading' style="margin-bottom: 2%">
                <img src='../../static/images/loading.gif' alt="loading" width="24"/>   Строю зону Френеля...
            </div>
            <div class="col-12" id="fresnel_zone" style="margin-bottom: 2%; display: none;">
                <div id="fresnel_chart"></div>
            </div>
        </div>
        <div class="form-row" id="fresnel_metrics_container">
            <div class="col-12">
                <h5>Анализ зоны Френеля:</h5>
                <p id="fresnel_metrics"></p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Несущая частота, МГц:</label>
                {{ fresnel_form.freq(size=80) }}
            </div>
            <div class="form-group col-md-4">
                <label>Высота установки антенны, м:</label>
                {{ fresnel_form.ant_height(size=80) }}
            </div>
            <div class="form-group col-md-4">
                <label>Высота базовой станции, м:</label>
                {{ fresnel_form.bs_height(size=80) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success my-3" onclick="startFresnelTest()">Построить</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <h4 id="fresnel_result" hidden></h4>
            </div>
        </div>
    </div>
</div>