<div id="ping_color" class="form-horizontal rounded shadow p-3 mb-5">
    <div class="col-12">
        <div class="form-row">
            <div class="col-12" id='ping_loading' style="margin-bottom: 2%">
                <img src='../../static/images/loading.gif' alt="loading" width="24"/>  Провожу замер пинга...
            </div>
            <div class="col-12" id="pingChart" style="margin-bottom: 2%; display: none;">
                <div id="ping_line_chart"></div>
            </div>
        </div>
        <div class="form-row">
            <div id="ping_metrics_container" class="col-12">
                <h5>Метрики замера:</h5>
                <p id="ping_metrics"></p>
            </div>
            <h5 class="col-md-12 block-title">Количество пакетов</h5>
            <div class="input-group col-md-12">
                {{ server_form.num_packets(size=80) }}
            </div>
            <h5 class="col-md-12 block-title">Размер пакета, Б</h5>
            <div class="input-group col-md-12">
                {{ server_form.packet_size(size=80) }}
            </div>
            <h5 class="col-md-12 block-title">Результат</h5>
            <div class="input-group col-md-12 my-2">
                {{ ping_test_form.ping_results }}
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success my-3" onclick="pingTest()">Провести замер</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <h4 id="ping_result"></h4>
            </div>
        </div>
    </div>
</div>