<div class="col-12">
    <div class="form-row">
        <h5 class="col-md-12 block-title">Наименование обследуемого объекта</h5>
        <div class="form-group col-md-12">
            {{ point_form.point_name(size=80) }}
            {% for error in point_form.point_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-12">
    <div class="form-row">
        <h5 class="col-md-12 block-title">Координаты обследуемого объекта</h5>
        <div class="form-group col-lg-6">
            <label>Широта:</label>
            {{ point_form.point_lat(size=80) }}
            {% for error in point_form.point_lat.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group col-lg-6">
            <label>Долгота:</label>
            {{ point_form.point_lon(size=80) }}
            {% for error in point_form.point_lon.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button id="point_button" type="submit" class="btn btn-primary my-3" onclick="postMainParams()">Сохранить</button>
        </div>
    </div>
</div>