<div class="form-row">
    <div id='loading_modem' class="col-12" style="margin-bottom: 2%">
        <img src='../../static/images/loading.gif' alt="Loading" width="24"/>  Опрашиваю модем...
    </div>
</div>
<div id="form_body" class="col-12" style="display: none;">
    <div class="form-row">
        <span id="modem_error" style="color: red; padding-right: 5px; padding-left: 5px; display: none;">
            Нет соединения с модемом! Проверьте работоспособность устройства.
        </span>
        <h5 class="col-md-12 block-title">Уровень сигнала, ASU</h5>
        <div class="input-group col-md-12">
            {{ signal_form.asu(size=80) }}
            {% for error in signal_form.asu.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <h5 class="col-md-12 block-title">Информация по подключению:</h5>
        <p class="col-12" id="signal-metrics"></p>
    </div>
    <div class="form-row">
        <h5 id="bs_list_title" class="col-md-12 block-title">Выберите базовую станцию:</h5>
        <div id="bs_list" class="col-12"></div>
        <div id='loading_bs_list' style="margin-bottom: 2%">
            <img src='../../static/images/loading.gif' alt="Loading" width="24"/>  Проверяю базу данных...
        </div>
        <h5 class="col-md-12 block-title">Координаты базовой станции:</h5>
        <div class="form-text alert alert-danger alert-dismissible fade show" role="alert">
            Координаты в базе данных могут быть неточными!
            Для определения координат БС рекомендуется использовать <a href="/manual#phone_apps" class="alert-link">Android приложения</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="form-group col-lg-6">
            <label>Широта:</label>
            {{ signal_form.bs_lat(size=80) }}
            {% for error in signal_form.bs_lat.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group col-lg-6">
            <label>Долгота:</label>
            {{ signal_form.bs_lon(size=80) }}
            {% for error in signal_form.bs_lon.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <span id="bs_list_warning" class="col-12"
              style="color: red; padding-right: 5px; padding-left: 5px; display: none;">
                Базовые станции не найдены! Уточните координаты с помощью приложений на смартфоне.
            </span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button id="signal_button" type="submit" class="btn btn-primary my-3" onclick="postBaseStationCoords()">Сохранить</button>
        </div>
    </div>
</div>