<div id="signal_color" class="form-horizontal rounded shadow p-3" style="">
    <div class="form-row">
        <div class="col-md-8">
            <div class="col-12" id="signal_picture"></div>
        </div>
        <div class="col-12">
            <p class="col-12" id="signal_info"></p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            <h4 class="col-12" id="signal_result"></h4>
        </div>
    </div>
</div>