<div id="speed_color" class="form-horizontal rounded shadow p-3 mb-5">
    <div class="col-12">
        <div class="form-row">
            <div class="col-12" id='speed_loading' style="margin-bottom: 2%">
                <img src='../../static/images/loading.gif' alt="loading" width="24"/>  Провожу замер пропускной способности...
            </div>
            <div class="col-12" id="speedChart" style="margin-bottom: 2%; display: none;">
                <div id="speed_line_chart"></div>
            </div>
        </div>
        <div class="form-row">
            <div id="speed_metrics_container" class="col-12">
                <h5>Метрики замера:</h5>
                <p id="speed_metrics"></p>
            </div>
            <h5 class="col-md-12 block-title">Пропускная способность, КБит/c</h5>
            <div class="input-group col-md-12">
                {{ server_form.speed(size=80) }}
            </div>
            <h5 class="col-md-12 block-title">Продолжительность теста, с</h5>
            <div class="input-group col-md-12">
                {{ server_form.duration(size=80) }}
            </div>
            <h5 class="col-md-12 block-title">Результат</h5>
            <div class="input-group col-md-12 my-2">
                {{ speed_test_form.speed_results }}
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success my-3" onclick="speedTest()">Провести замер</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <h4 id="speed_result"></h4>
            </div>
        </div>
    </div>
</div>