{% extends 'base.html' %}
{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Тестирование качества связи</h1>
        </header>
        <div class="card mb-2">
            <div class="card-header">
                <h3 class="mb-0">
                    <button class="btn btn-lg btn-link collapsed" data-toggle="collapse" data-target="#point_params" aria-expanded="true" aria-controls="point_params">
                        Обследуемый объект
                    </button>
                </h3>
            </div>
            <div id="point_params" class="collapse">
                <div class="form-horizontal rounded shadow p-3 bg-white">
                    {% include 'includes/point_form.html' %}
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <h3 class="mb-0">
                    <button class="btn btn-lg btn-link collapsed" data-toggle="collapse" data-target="#signal_params" aria-expanded="true" aria-controls="signal_params">
                        Параметры сигнала
                    </button>
                </h3>
            </div>
            <div id="signal_params" class="collapse">
                <div class="form-horizontal rounded shadow p-3 bg-white">
                    {% include 'includes/signal_form.html' %}
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <h3 class="mb-0">
                    <button class="btn btn-lg btn-link collapsed" data-toggle="collapse" data-target="#test_server_addr" aria-expanded="true" aria-controls="test_server_addr">
                        Тестовый сервер
                    </button>
                </h3>
            </div>
            <div id="test_server_addr" class="collapse">
                <div class="form-horizontal rounded shadow p-3 bg-white">
                    <div class="form-row">
                        <div class="col-12">
                            <h5 class="col-md-12 block-title">IP/URL-адрес тестового сервера</h5>
                            <div class="form-group col-md-12">
                                {{ server_form.ip_address(size=80) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary my-3" onclick="postServerParams()">Изменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if modem != 'None' %}
            <div id="signal_test" hidden>
                <h3 class="block-title">Качество сигнала:</h3>
                {% include 'includes/signal_test.html' %}
            </div>
        {% endif %}
        <div id="fresnel_test" hidden>
            <h3 class="block-title">Зона Френеля:</h3>
            {% include 'includes/fresnel_form.html' %}
        </div>
        <div id="ping_test" hidden>
            <h3 class="block-title">Тест пинга:</h3>
            {% include 'includes/ping_test_form.html' %}
        </div>
        <div id="speed_test" hidden>
            <h3 class="block-title">Тест пропускной способности:</h3>
            {% include 'includes/speed_test_form.html' %}
        </div>
        <div class="form-check mt-3 mb-2">
            <input class="form-check-input" type="checkbox" checked id="database_check">
            <label class="form-check-label" for="database_check">Сохранить результат в БД</label>
        </div>
        <button
                class="btn btn-lg btn-success shadow mb-3"
                {% if modem != 'None' %}
                    onclick="signalTest()"
                {% else %}
                    onclick="startFresnelTest()"
                {% endif %}
                id="run_tests_button">
            Начать тестирование
        </button>
    </div>
    <script src="../static/js/tests/general.js"></script>
    <script src="../static/js/tests/ping_test.js"></script>
    <script src="../static/js/tests/speed_test.js"></script>
    <script src="../static/js/tests/fresnel_zone_test.js"></script>
    <script src="../static/js/tests/signal_test.js"></script>
    <script src="../static/js/point_params.js"></script>
    <script src="../static/js/signal_params.js"></script>
    <script src="../static/js/bs_list.js"></script>
    <script src="../static/js/server_params.js"></script>
    <script src="../static/js/save_data.js"></script>
    <script src="../static/js/plotly-latest.min.js"></script>
    <script>
        prepareTestsPage();
        getPointParams();
        getServerParams();
        getSignalParams();
        getBaseStationCoords();
        getFresnelParams();
        {% if modem == 'None' %}
            alert('Модем не подключен либо используется неопознанный модем. ' +
                'Вы можете попробовать провести тестирование качества сотовой связи, ' +
                'однако, вам придется вручную задать уровень сигнала и координаты базовой станции в разделе ' +
                '"Параметры сигнала".')
        {% endif %}
    </script>

{% endblock %}