<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{{ title }}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Signal Tester</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
            <li class="nav-item {% if request.endpoint in ['tests', 'main_params', 'server_params', 'bs_params'] %} active {% endif %}">
                <a class="nav-link" href="/tests">Тестирование связи</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'monitoring'%} active {% endif %}">
                <a class="nav-link" href="/monitoring">Мониторинг</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'manual'%} active {% endif %}">
                <a class="nav-link" href="/manual">Руководство пользователя</a>
            </li>
        </ul>
    </div>
</nav>

<main class="content-wrapper">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <div class="text-center">
            <span>Техническая поддержка: <a href="mailto:zhuravlev.id93@gmail.com?subject=feedback">Ivan Zhuravlev</a></span>
        </div>
    </div>
</footer>

<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>