{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Параметры сигнала</h1>
        </header>
        <form name="signal" class="form-horizontal rounded shadow p-3 bg-white" method="post" onsubmit="postBaseStationCoords()">
            {{ signal_form.hidden_tag() }}
            {% include 'includes/signal_form.html' %}
        </form>
    </div>
    <script src="../static/js/bs_list.js"></script>
    <script src="../static/js/signal_params.js"></script>
    <script>
        getSignalParams();
        getBaseStationList();
        document.getElementById('signal_button').removeAttribute('onclick');
    </script>

{% endblock %}