<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container my-5 py-4">
        <header>
            <h1>Авторизация</h1>
        </header>
        <form class="rounded shadow p-3 mb-5 bg-white" method="post" name="login">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Введите логин:</label>
                {{ form.username(size=80) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password">Введите пароль:</label>
                {{ form.password(size=80) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>

