{% extends 'base.html' %}
{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Обследуемый объект</h1>
        </header>
        <form name="point_params" class="form-horizontal rounded shadow p-3 bg-white" method="post" onsubmit="postMainParams()">
            {{ point_form.hidden_tag() }}
            {% include 'includes/point_form.html' %}
        </form>
    </div>
    <script src="../static/js/point_params.js"></script>
    <script>
        getPointParams();
        document.getElementById('point_button').removeAttribute('onclick');
    </script>
{% endblock %}