{% extends 'base.html' %}
{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Руководство пользователя</h1>
        </header>

        <h3>1. Список используемых сокращений</h3>
        <ul>
            <li>АФУ – Антенно-фидерное устройство;</li>
            <li>АКБ – аккумуляторная батарея;</li>
            <li>БД – база данных;</li>
            <li>БС – базовая станция сотовой связи;</li>
            <li>ОС – операционная система;</li>
        </ul>

        <h3>2. Методика проведения замеров качества связи</h3>
        <p>
            Целью проведения обследовани качества связи является выбор наиболее подходящего для обследуесой точки АФУ.
            Чтобы выбрать АФУ для обследуемой точки необходимо определить:
        </p>
        <ul>
            <li>Частотный диапазон;</li>
            <li>Направление на БС</li>
            <li>Высоту установки АФУ;</li>
            <li>Параметры сигнала, необходимые для выбора подходящего коэффициента усиления АФУ.</li>
        </ul>
        <p>
            Для определения указанных параметров необходимо провести ряд замеров качества связи с универсальным АФУ,
            способным функционировать в большинстве частотных диапазонов. Методика проведения замеров качества связи
            построена на ряде тестов, для которых эмпирическим путем были определены границы, при которых качество связи
            остается удовлетворительным. В случае выхода за эти границы, ПО рекомендует повторить тесты с более подходящим
            АФУ до тех пор, пока все тесты не будут пройдены. В случае если тесты не удается пройти даже с антеннами,
            имеющими наибольшие коэффициенты усиления в нужных частотных диапазонах, то от использования сотовой связи в
            данной точке придется отказываться (по крайней мере для оператора, с сим-карты которого проводится замер).
        </p>
        <p>
            При первоначальном обследовании качества связи предполагается, что тестирование будет проводиться до тех пор
            пока не будет выбрано АФУ, при котором все тесты будут пройдены. Однако, устройство позволяет также вести
            длительный мониторинг параметров связи, фиксируемых во время тестов. Такой подход подразумевает, что
            устройство будет оставлено в обследуемой точке на 1-2 суток для постоянной фиксации параметров сигнала. Это
            позволит определить, как изменяются тестируемые параметры в долгосрочной перспективе.
        </p>
        <p>
            Во время проведения обследования качества связи устройство автоматически определяет наиболее
            подходящую несущую частоту, после чего проводит следующин следующие тесты:
        </p>
        <ul>
            <li>Тест уровня сигнала;</li>
            <li>Тесты I зоны Френеля;</li>
            <li>Тест пинга;</li>
            <li>Тест пропускной способности.</li>
        </ul>
        <h3>3. Использование устройства</h3>
        <h4>3.1 Включение и выключение устройства</h4>
        <p>
            Перед включением устройства необходимо вставить SIM-карту в модем/роутер и подключить тестируемую антенну к
            SMA-разъему на корпусе устройства.
        </p>
        <p>
            Для включения устройства необходимо нажать кнопку включения на корпусе устройства. Процедура включения
            занимает около минуты. После того, как устройство запустится, появится Wi-Fi точка доступа со следующими
            параметрами:
        </p>

            <div class="col-4 alert alert-secondary" role="alert">
                Имя точки доступа: <b>cell-monitoring</b><br>
                Пароль точки доступа: <b>admin</b>
            </div>

        <h4>3.2 Задание исходных данных для тестов</h4>
        <h5>3.2.1 Обследуемый объект</h5>
        <p>
            Для включения устройства необходимо нажать кнопку включения на корпусе устройства. Процедура включения
            занимает около минуты. После того, как устройство запустится, появится Wi-Fi точка доступа со следующими
            параметрами:
        </p>
        <h5>3.2.2 Тестовый сервер</h5>
        <h5>3.2.3 Параметры сигнала</h5>
        <a id="phone_apps"></a>
        <h6>Измерение координат БС с помощью Android-приложений</h6>
        <p>Координаты БС можно определить с помощью ряда Android приложений, схожих по функционалу:</p>
        <ol>
            <a class="link" href="https://play.google.com/store/apps/details?id=com.parizene.netmonitor"><li>NetMonitor</li></a>
            <a class="link" href="https://play.google.com/store/apps/details?id=de.android.telnet&showAllReviews=true"><li>Cell Signal Info</li></a>
            <a class="link" href="https://play.google.com/store/apps/details?id=cellmapper.net.cellmapper"><li>CellMapper</li></a>
            <a class="link" href="https://play.google.com/store/apps/details?id=ru.v_a_v.celltowerlocator"><li>Сотовые Вышки, Локатор</li></a>
        </ol>
        <p>
            Рекомендуется проводить измерение координат БС, используя несколько из представленных приложений т.к.
            координаты вышек приложениями определяются приблизительно. Имея информацию из нескольких источников,
            впоследствии можно будет точнее определить координаты БС.
        </p>
        <div class="alert alert-warning" role="alert">
            <b>Внимание!!!</b> Для замеров необходимо иметь SIM-карту оператора сотовой связи, для которого проводятся
            замеры качества связи. Если телефон поддерживает более, чем одну SIM-карту, то их рекомендуется отключить
            данную функцию или извлечь из телефона другие SIM-карты на время замеров. В телефоне должна быть
            активирована геолокация, а в настройках приложения для замера должны быть активированы функции фиксации
            GPS координат. Приложениям должны быть даны разрешения на использование геолокации. Перед проведением
            обследования на телефоне также рекомендуются выключить Wi-Fi. Все приложения, указанные выше позволяют
            фиксировать Cell ID, LAC, MNC, тип сети и координаты БС.
        </div>
        <ol>
            <b><li>Использование приложения NetMonitor</li></b>
            <p>
                Приложение NetMonitor является достаточно мощным инструментом для поиска БС. Однако оно не позволяет
                просматривать координаты БС в реальном времени. Вместо этого все обнаруженные БС будут записываться в лог.
                Данное приложение рекомендуется использовать в фоновом режиме во время проведения обследования качества связи.
            </p>
            <p>
                Перед выездом на замеры необходимо включить приложение NetMonitor и не выключать его на протяжении
                всего времени проведения замеров. Данное приложение будет фиксировать в лог координаты и параметры
                всех обнаруженных БС. Впоследствии лог можно будет экспортировать в формате KML. Для того, чтобы
                активировать этот функционал в приложении нужно сделать несколько настроек. Во-первых, нужно
                активировать в настройках самого приложения «Запрос GPS местоположения». Во-вторых, в пункте меню
                «Управление БД» активировать опцию «Сохранять лог в БД».
            </p>
            <div class="row text-center">
                <div class="col-lg-3 mb-3">
                    <img src="../static/images/manual/android_apps/netmonitor1.png" class="img-fluid" alt="Netmonitor">
                </div>
                <div class="col-lg-3 mb-3">
                    <img src="../static/images/manual/android_apps/netmonitor2.png" class="img-fluid" alt="Netmonitor">
                </div>
                <div class="col-lg-3 mb-3">
                    <img src="../static/images/manual/android_apps/netmonitor3.png" class="img-fluid" alt="Netmonitor">
                </div>
                <div class="col-lg-3 mb-3">
                    <img src="../static/images/manual/android_apps/netmonitor4.png" class="img-fluid" alt="Netmonitor">
                </div>
            </div>
            <div class="alert alert-warning" role="alert">
                <b>Внимание!!!</b> Приложение NetMonitor должно работать в фоновом режиме на протяжении всего времени проведения обследования.
            </div>

            <b><li>Использование приложения Cell Signal Info</li></b>
            <p>
                В приложении Cell Signal Info координаты БС, к которой в данный момент подключен телефон, выводятся
                на карте в левом верхнем углу. Если Cell ID и LAC БС в приложении не совпадат с теми значениями, которые
                измеряет модем устройства, то нужную БС можно найти на карте в приложении, а затем выбрать ее для
                отображения координат.
            </p>
            <div class="row text-center">
                <div class="col-lg-3 col-md-12 mb-3">
                    <img src="../static/images/manual/android_apps/cellsignalinfo1.png" class="img-fluid" alt="CellSignalInfo">
                </div>
                <div class="col-lg-3 col-md-12 mb-3">
                    <img src="../static/images/manual/android_apps/cellsignalinfo2.png" class="img-fluid" alt="CellSignalInfo">
                </div>
            </div>
            <b><li>Использование приложения Cell Signal Info</li></b>
            <p>
                В приложении Cell Signal Info координаты БС, к которой в данный момент подключен телефон, выводятся
                на карте в левом верхнем углу. Если Cell ID и LAC БС в приложении не совпадат с теми значениями, которые
                измеряет модем устройства, то нужную БС можно найти на карте в приложении, а затем выбрать ее для
                отображения координат.
            </p>
            <div class="row text-center">
                <div class="col-lg-3 col-md-12 mb-3">
                    <img src="../static/images/manual/android_apps/cellsignalinfo1.png" class="img-fluid" alt="CellSignalInfo">
                </div>
                <div class="col-lg-3 col-md-12 mb-3">
                    <img src="../static/images/manual/android_apps/cellsignalinfo2.png" class="img-fluid" alt="CellSignalInfo">
                </div>
            </div>

        </ol>

        <h4>Проведение замеров качества связи</h4>
        <h5>Тест уровня сигнала</h5>
        <h5>I зона Френеля</h5>
        <h5>Тест пинга</h5>
        <h5>Тест пропускной способности</h5>
        <h5>Результаты тестирования</h5>

        <h3>4. Критерии выбора АФУ</h3>
    </div>
{% endblock %}