{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Настройки модема</h1>
        </header>
        <form name="modem" class="form-horizontal rounded shadow p-3 bg-white">
            {{ modem_form.hidden_tag() }}
            <div class="form-row">
                <div id='loading_modem' class="col-12" style="margin-bottom: 2%">
                    <img src='../static/images/loading.gif' alt="Loading" width="24"/>  Опрашиваю модем...
                </div>
            </div>
            <div id="form_body" class="col-12" style="display: none;">
                <div class="form-row">
                    <span id="modem_error" style="color: red; padding-right: 5px; padding-left: 5px; display: none;">
                        Нет соединения с модемом! Проверьте работоспособность устройства.
                    </span>
                    <h5 class="col-md-12 block-title">Тип сети:</h5>
                    {% for field in modem_form.net_type %}
                        <div class="form-check my-2 col-md-12">
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endfor %}

                    <div id='loading_freq' class="col-12" style="margin-bottom: 2%" hidden="true">
                        <img src='../static/images/loading.gif' alt="Loading" width="24"/>   Определяю наилучшую частоту...
                    </div>
                    {% if modem == 'huawei_e3372h' %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <button id="modem_button" type="button" class="btn btn-primary my-3" onclick="setModemSettings()">
                                    Применить настройки
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    {% if modem == 'huawei_e3372h' %}
        <script src="../static/js/modems/huawei_e3372h.js"></script>
    {% endif %}
{% endblock %}
