{% extends 'base.html' %}
{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Режим мониторинга</h1>
        </header>
    </div>
{% endblock %}