{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5 pb-4">
        <header>
            <h1 class="page-title">Параметры тестового сервера</h1>
        </header>
        <form name="server_params" class="form-horizontal rounded shadow p-3 mb-5 bg-white" method="post" onsubmit="postServerParams()">
            {{ server_form.hidden_tag() }}
            <div class="form-row">
                <div class="col-12">
                    <h5 class="col-md-12 block-title">IP/URL-адрес тестового сервера</h5>
                    <div class="form-group col-md-12">
                        {{ server_form.ip_address(size=80) }}
                        {% for error in server_form.ip_address.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12" hidden>
                    <h5 class="col-md-12 block-title">Тестируемая пропускная способность, КБит/c</h5>
                    <div class="form-group col-md-12">
                        {{ server_form.speed(size=80) }}
                    </div>
                </div>

                <div class="col-12" hidden>
                    <h5 class="col-md-12 block-title">Продолжительность теста пропускной способности, с</h5>
                    <div class="form-group col-md-12">
                        {{ server_form.duration(size=80) }}
                    </div>
                </div>

                <div class="col-12" hidden>
                    <h5 class="col-md-12 block-title">Количество пакетов для теста пинга</h5>
                    <div class="form-group col-md-12">
                        {{ server_form.num_packets(size=80) }}
                    </div>
                </div>

                <div class="col-12" hidden>
                    <h5 class="col-md-12 block-title">Размер пакета, Б</h5>
                    <div class="form-group col-md-12">
                        {{ server_form.packet_size(size=80) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary my-3">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="../static/js/server_params.js"></script>
    <script>getServerParams()</script>
{% endblock %}